<% content_for :title, "Nova empresa — Selo Digital" %>

<div class="sd-container">
  <div class="sd-header">
    <div>
      <h1>Nova empresa</h1>
    </div>
  </div>

  <%= render "form", empresa: @empresa %>
</div>
